<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <h1>NYT Article Bookmarker</h1>
      </div>
      <div class="col-md-1">
        <h1><a href="/" class="btn btn-default btn-lg">Back &raquo;</a></h1>
      </div>
    </div>
  </div>
</div>
  
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="center-this">
      <img src="/images/newspapers.jpg">
    </div>
    <h2>Mission</h2>
    <p>
      Our mission is to help you bookmark articles that you're interested in without adding clutter to your browser.
    </p>
  </div>
  <div class="col-md-2"></div>
</div>