<div class="jumbotron">
  <div class="container">
    <h1>NYT Article Bookmarker</h1>
    <p>Let us help you find and remember New York Times articles that interest you.</p>
    <div class="center-this">
      <p>
        <a href="/about" class="btn btn-default btn-lg">&laquo; About</a>
        <a href="/users/new" class="btn btn-default btn-lg">Sign Up &raquo;</a>
      </p>
    </div>
  </div>
</div>